a:active {
	color: #FF0000;
	text-decoration: underline;
}

a:hover {
	color: #E46922;
	text-decoration: underline;
}

a:link {
	color: #FF0000;
	text-decoration: none;
}

a:visited {
	color: #B022E4;
	text-decoration: none;
}

a:before {
	content: url("img/globo.png");
}

body {
	margin-left: 400px;
	margin-right: 400px;
}

h1 {
	font-family: "Courier New";
	text-align: center;
}

h2 {
	font-family: "Courier";
}

img[ID="1"] {
	width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[ID="2"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[ID="3"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[ID="4"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

em[ID="Nota"] {
	opacity: 0.6;
}